@charset "UTF-8";
/* CSS Document */

body {
	margin: 0 auto;
	padding: 0;
	color: #000;
}
ul, ol, dl { 
    padding: 0;
	margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;	 
	padding-right: 15px;
	padding-left: 15px;
}
a img { 
	border: none;
}
a:link {
	color: #42413C;
	text-decoration: underline; 
}
a:visited {
	color: #6E6C64;
	text-decoration: underline;
}
a:hover, a:active, a:focus { 
	text-decoration: none;
}
header, section, footer, aside, nav, article, figure {
	display: block;
}
.menu li a:hover{
text-decoration: underline;
}
.menu li a{
	text-decoration: none;
	padding-left: 20px;
	font-size: 20px;
}
.menu li{
	display: inline;
	list-style: none;
}
.contacts span{
	color: #ffb933;
}
.contacts span b{
	color: #006ecc;
}
.container{
	background: #fff;
	width: 1024px;
	float: left;
	padding: 15px;
	margin: auto 0;
}
header{
	height: 60px;
	width: 100%;
}
header .logo{
	float: left;
}
header nav{
	padding-top: 10px;
	padding-left: 20px;
	float: left;
}
header .contacts{
float: right;
}